/* Floating Button */

.pj-chatbot-toggle-btn {
    position: fixed;
    bottom: 95px;
    right: 20px;
    width: 65px;
    height: 65px;
    border: none;
    border-radius: 50%;
    background: linear-gradient(135deg, #00bfff, #52d6ff);
    color: #121929;
    font-size: 28px;
    cursor: pointer;
    z-index: 999999;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
}

.pj-chatbot-toggle-btn:hover {
    transform: scale(1.1);
}

/* Chatbot Popup */

.pj-chatbot-wrapper {
    position: fixed;
    bottom: 95px;
    right: 20px;
    width: 400px;
    height: 620px;
    max-height: 85vh;
    background: #000;
    border-radius: 25px;
    overflow: hidden;
    z-index: 999999;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.25);
    animation: pjChatbotFade 0.3s ease;
}

/* Animation */

@keyframes pjChatbotFade {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* iframe */

.pj-chatbot-iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* Close Button */

.pj-chatbot-close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 42px;
    height: 42px;
    border: none;
    border-radius: 50%;
    background: #000;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    z-index: 9999999;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
}

.pj-chatbot-close-btn:hover {
    transform: scale(1.1);
}

/* Mobile Responsive */

@media (max-width: 576px) {

    .pj-chatbot-wrapper {
        width: 95%;
        right: 10px;
        bottom: 90px;
        height: 85vh;
    }

    .pj-chatbot-toggle-btn {
        width: 58px;
        height: 58px;
        font-size: 24px;
    }
}