body{
    font-family: 'Inter', sans-serif;
    color:#222;
    line-height:1.7;
    font-weight:400;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Outfit', sans-serif;
    font-weight:700;
    letter-spacing:-0.5px;
}

#title {
    font-weight: 700;
    font-size: 55px;
}

@media(max-width:482px){
    #title{
        text-align: center;
        font-size: 34px;
    }
    #sub-heading{
    display: flex;
    justify-content: center;
}
}


#title.section-title{
    font-weight: 700;
    font-size: 40px;
}
#sub-heading{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 4px;
    color: #66C7DD;
}

#sub-heading.about{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 4px;
    color: #66C7DD;
    display: flex;
    justify-content: center;
}  

html, body {
  overflow-x: hidden;
}

.container.title-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 300px;
}

h1.page-title {
    color: white;
    font-size: 70px;
}

.header-wrap {
    height: 468px;
    border-bottom: 8px solid #61c9e1;
}

.btn {
    background: linear-gradient(135deg, #52d6ff, #00bfff);
    color: #081120;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    font-weight: 400;
}

.btn:hover{
    background: linear-gradient(135deg, #00bfff, #52d6ff);
}